<div
  class="uk-card uk-card-default uk-position-center uk-card-body uk-width-1-2@m"
>
  <h3 class="uk-card-title">Login</h3>
  <form>
    <fieldset class="uk-fieldset">
      <div class="uk-flex uk-flex-column">
        <input
          class="uk-input uk-width-1-1 uk-margin"
          type="text"
          placeholder="Email"
          name="Email"
          [(ngModel)]="email"
        />
        <input
          class="uk-input uk-width-1-1"
          type="text"
          placeholder="Password"
          name="Password"
          [(ngModel)]="password"
        />

        <button class="uk-button uk-button-primary uk-margin" (click)="validateUser()">Login</button>
        <button class="uk-button uk-button-danger" (click)="navigateUserRegister()">Register</button>
      </div>
    </fieldset>
  </form>
</div>
