<div
  class="uk-position-top-center uk-card uk-card-secondary uk-card-body uk-margin-top"
>
  <h1 class="uk-card-title uk-margin-top uk-text-large">
    Product management application
  </h1>
</div>
<img class=" uk-position-center" src="assets/hahnsfeg.jpg"  alt="My Image" />

<div
  class="uk-flex uk-flex-column uk-width-1-1 uk-position-bottom-center uk-card uk-card-secondary uk-card-body uk-margin-bottom"
>
  <h2 class="uk-text-default uk-margin-top">Made by: David Araujo</h2>
  <button class="uk-button uk-button-danger" (click)="navigateToLogin()">Continue</button>
</div>
